body {
  margin: 0 auto;
  p {
    color: $font-color;
  }
}


.logo{
  max-width: 50%;
  img{
    width: 100%;
  }
}

.exLogo{
  @include mobile{
  width: 150px;
  img{
    width: 50%;
  }
}
}

.selector{
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  p {
    margin:0;
    margin-bottom: 1rem;
  }
  select {
    width: 120px;

  }
}



.content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mobile {
    justify-content: center;
    flex-direction: row;
  }
}

.exContent {
  @extend .content;
  // width: 50%;
  height: 300px;
  padding: 2rem;
  @include mobile {
    height: 80px;
    justify-content: flex-start;
    flex-direction: row;
  }
}

.listStyle{
  list-style: none;
  padding: 0;
}



.bkimg{
  height: 400px;
  position: relative;
  background: no-repeat;
  background-size: cover;
  background-position: 50%;
  .abstract{
    width: 100%;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    bottom: 0;
    p {
      margin: 0;
      padding: 1rem;
      line-height: 1.5rem;
    }
  }
}



