body {
  max-width: 1240px;
  background-color: $background-color;
  margin: 0 auto;
  .content {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    color: $font-color;
  }
}

footer {
  text-align: center;
  p {
    color: gray;
  }
}

.selectorbox {
  width: 300px;
}

$desktop-width: 1000px;
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}